* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: hsl(210, 40%, 98%);
}

#top-title {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  border-bottom: 2px solid #f1f5f9;
  background: #ffffff;
  position: relative;
}

#button-to-doAndComplited {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

#button-to-do,
#button-Complited {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: #94a3b8;
  font-size: 16px;
  cursor: pointer;
}

#button-to-do {
  color: #4f46e5;
}

#User-profile {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
}

#Tasks {
  font-weight: 600;
  font-size: 24px;
  color: #4f46e5;
  letter-spacing: -0.6px;
}

#To-Do {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 32px 120px 32px;
  gap: 48px;
  align-items: flex-start;
}

#Focus-id {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: rgba(22, 28, 39, 1);
}

#titles h1 {
  color: #161c27;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
}

#AddNewTask-button {
  display: flex;
  border: none;
  padding: 16px 24px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #404dbe;
  cursor: pointer;
  width: 100%;
}

#AddNewTask-button p {
  color: #fff;
  font-size: 16px;
}

#tasks-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  gap: 0px;
}

#tasks-list > div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background: #ffffff;
  border-bottom: 1px solid #f1f5f9;
  transition: background 0.2s ease;
  height: 100px;
}

#tasks-list > div:last-child {
  border-bottom: none;
}

#tasks-list > div:hover {
  background: #f8fafc;
}

.checkbox {
  width: 24px;
  height: 26px;
  margin-top: 4px;
  cursor: pointer;
  accent-color: rgba(64, 77, 190, 1);
  flex-shrink: 0;
}

.inputText {
  flex: 1;
  border: none;
  outline: none;
  

  font-size: 18px;
  color: #1e293b;
  background: transparent;
  overflow: hidden;
  align-items: center;
  font-weight: 400;

  line-height: 28.8px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.inputText::placeholder {
  color: #94a3b8;
}

#comlitetasks-list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#Completed-Today,
#Older {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  gap: 24px;
  width: 100%;
  margin-bottom: 20px;
}

.p-title {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 31.2px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgba(22, 28, 39, 1);
}

#Completed-Today > div,
#Older > div {
  display: flex;
  align-items: center;
  background: transparent;
  gap: 16px;
  width: 100%;
  padding: 0;
}

.input-p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(22, 28, 39, 0.5);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  margin: 0;
  vertical-align: middle;
}

#task-count {
  color: rgba(69, 70, 83, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0px;
  vertical-align: middle;
}

/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(./inter-latin-ext.ttf) format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(./inter-latin.ttf) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Manrope";
  src: url(./Manrope.ttf);
  font-weight: 100 900;
}
